{% extends 'PqrsBundle::base.html.twig' %}
{% block title %}Cambio contraseña usuario PQRS{% endblock%}
{% block body %}
<legend>Ingresa tu nueva contraseña</legend>
<div class="formulario-clave">
    {{ form(form) }}
</div>
    {% for flashMessage in app.session.flashbag.get('error') %}
<div class="cambio-contrasena-alerta">
            {{ flashMessage }}
</div>
    {% endfor %}
{% endblock %}