{% extends 'PqrsBundle::base.html.twig' %}
{% block title %}Editar Respuesta PQRS{% endblock%}
{% block body %}
    <div class="editar-respuestas-pqrs">
        <legend>Editar respuesta</legend>
        {{ form(form) }}
    </div>
{% endblock %}