<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta content="text/html; charset=unicode" http-equiv="Content-Type" />
        <title>Mensaje de Notificacion</title>       
    </head>
    <body>
        <table cellspacing="0" cellpadding="0" border="0" align="center" width="600" style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #000066;">
            {{ datos }}
        </table>
    </body>
</html>